gradio>=4.0.0
torch>=2.0.0
torchvision
huggingface-hub
transformers>=4.30.0
diffusers
einops
opencv-python
numpy>=1.21.0
tqdm
trimesh>=3.9.0
pymeshlab
pygltflib
xatlas
omegaconf
onnxruntime
ninja
pybind11
rembg
uvicorn
fastapi
requests>=2.28.0
python-dotenv>=0.19.0
SQLAlchemy>=1.4.0
scikit-learn>=0.24.0
pillow>=8.0.0
google-cloud-storage>=2.0.0
python-multipart>=0.0.5
rembg
fastapi